@font-face {
  font-family: Futura;
  src: url(./fonts/Futura\ Book\ font.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Futura;
  --button-inactive: rgb(224, 219, 219);
  --button-hover: rgb(32, 30, 30);
  --padding-vertical: 17px;
  --padding-horizontal: 28px;
  --border: 1px solid rgba(0, 0, 0, 0.08);
}
body {
  letter-spacing: 0.3px;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

nav {
  margin-top: 40px;
  border-top: var(--border);
  border-bottom: var(--border);
}

nav .top-section {
  height: 50px;
  padding: 0 var(--padding-horizontal);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

nav .logo {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  justify-self: center;
}

.logo a {
  padding-left: 1.2rem;
}

nav .top-section .right {
  justify-self: self-end;
}

nav .bottom-section {
  text-align: center;
  height: 50px;
  padding: 0 var(--padding-horizontal);
  display: grid;
  align-items: center;
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 var(--padding-horizontal);
}

.main-content img.background {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.main-content .category {
  font-size: 20px;
  padding: var(--padding-vertical) 0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 250px));
  gap: 30px;
}

.product-grid img {
  width: 250px;
  height: 300px;
}

.product div {
  margin-bottom: 5px;
}

.product .description {
  text-align: center;
}

.button {
  padding: 8px 16px;
  background-color: var(--button-inactive);
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 0.7rem;
}

.dark {
  background-color: black;
  color: white;
}

.large {
  padding: 16px 40px;
}

.button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
  color: white;
}

.cart-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 100%;
}

.cart-content .shopping-bag {
  padding-right: var(--padding-horizontal);
}

.heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 17px 0;
  font-weight: bold;
}

.heading,
.sub-heading {
  letter-spacing: 2px;
}

.cart-content .shopping-bag .heading {
  border-bottom: var(--border);
}

.sub-heading {
  text-transform: uppercase;
  padding: 24px 0 16px 0;
  font-weight: bold;
}

.shipment-container {
  padding: 16px;
  border: var(--border);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-item {
  display: flex;
  gap: 16px;
}

.cart-item img {
  width: 150px;
  height: 200px;
}

.cart-item .description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-item .quantity {
  display: flex;
  gap: 15px;
}

.cart-item .quantity .round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 1px solid black;
}

.cart-item .quantity .round-button:hover {
  cursor: pointer;
}

.cart-item .quantity input {
  all: unset;
  width: 30px;
  text-align: center;
}

.order-summary .cart-totals {
  padding-top: var(--padding-vertical);
}

.order-summary .cart-totals .line {
  margin-top: var(--padding-vertical);
  display: flex;
  justify-content: space-between;
}

.order-summary .button {
  margin-top: 24px;
}

.empty-message {
  margin-top: 100px;
}
